  /* EXERCISE 2:  
       Create a CSS class for the task list with a diverse background
       Create a CSS class for the task list item with a border, a bold text and a bigger font size
       Style every button of the page to be bigger
    */
 
 body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(243, 243, 243);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 h1{
     margin: 20px auto;
 }
 .taskList{
     background-color: #fff;
     padding: 20px;
     margin: 350px;
     margin-top: 0!important;
     border-bottom: 4px solid salmon;
     border-radius: 3px;
     box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 21.8px 33.4px rgba(0, 0, 0, 0.086),
     0 10px 10px rgba(0, 0, 0, 0.12);
     font-weight: bold;
     font-size: 20px;
    }
    #myTaskList{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
input[type="button"]{
    height: 40px;
    border: 2px solid salmon;
    color: salmon;
    background-color: transparent;
    transition: all ease .7s;
}
input[type="button"]:hover{
    height: 40px;
    border: 2px solid salmon;
    color: #fff;
    background-color: salmon;
    transition: all ease .7s;
}

@media(max-width: 768px){
    .taskList{
        background-color: #fff;
        padding: 10px;
        margin: 0px;
        margin-top: 0!important;
        border-bottom: 4px solid salmon;
        border-radius: 3px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 21.8px 33.4px rgba(0, 0, 0, 0.086),
        0 10px 10px rgba(0, 0, 0, 0.12);
        font-weight: bold;
        font-size: 18px;
       }
   input[type="button"]{
       height: 40px;
       border: 2px solid salmon;
       color: salmon;
       background-color: transparent;
       transition: all ease .7s;
   }
   input[type="button"]:hover{
       height: 40px;
       border: 2px solid salmon;
       color: #fff;
       background-color: salmon;
       transition: all ease .7s;
   }
}



